[Unit]
Description=PulseAudio Service in System mode
Requires=pulseaudio.socket dev-snd-controlC0.device
After=dev-snd-controlC0.device
Before=docker.service
StartLimitIntervalSec=20s
StartLimitBurst=10

[Service]
ExecStartPre=rm -rf /var/lib/pulse
ExecStart=/usr/bin/pulseaudio --system --daemonize=no --disallow-exit
RestartSec=1
Type=notify
Restart=always

[Install]
Also=pulseaudio.socket
WantedBy=multi-user.target
