[Unit]
Description=rollback /var/cache filesystem
Requires=var-cache.mount
After=local-fs-pre.target
Before=local-fs.target var-cache.mount
DefaultDependencies=no
RefuseManualStart=true
RefuseManualStop=true

[Service]
ExecStart=/usr/bin/fs-rollback var_cache /var/cache
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target