[Unit]
Description=Save grub rootfs entry

[Service]
ExecStartPre=/bin/sleep 60
ExecStart=/usr/bin/save-grub-rootfs.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
